# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# Logs
logs/

# Public dataset
afhq/

# macOS / Windows
.DS_Store
Thumbs.db